@page "/artists/details"
@using Microsoft.EntityFrameworkCore
@using TRUMPet.Domain
@inject IDbContextFactory<TRUMPet.Data.TRUMPetContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Artist</h2>
    <hr />
    @if (artist is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">SongID</dt>
            <dd class="col-sm-10">@artist.SongID</dd>
            <dt class="col-sm-2">DateAdded</dt>
            <dd class="col-sm-10">@artist.DateAdded</dd>
            <dt class="col-sm-2">Artistname</dt>
            <dd class="col-sm-10">@artist.Artistname</dd>
            <dt class="col-sm-2">SongName</dt>
            <dd class="col-sm-10">@artist.SongName</dd>
        </dl>
        <div>
            <a href="@($"/artists/edit?artistid={artist.ArtistID}")">Edit</a> |
            <a href="@($"/artists")">Back to List</a>
        </div>
    }
</div>

@code {
    private Artist? artist;

    [SupplyParameterFromQuery]
    private int ArtistID { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        artist = await context.Artist.FirstOrDefaultAsync(m => m.ArtistID == ArtistID);

        if (artist is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
